@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet">

<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider_text ">
                        <span>Podemos ayudar Hoy.</span>
                        <h3> Ayudamos a niños que necesitan un riñón</h3>
                        <p>
                            Queremos llever ayuda a quien más lo necesita <br>
                            ayudamos...
                        </p>
                        <a href="About.html" class="boxed-btn3">
                            Leer más
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title">2016 Inicio</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="justify"><p>
    La historia de Tesoteam Asociación Civil, tiene su origen en diciembre de 2016 , cuando el Dr. José Carlos Romo Vázquez medico adscrito del Hospital Español y Jefe de Nefrología del Hospital Infantil Federico Gómez (HIM) , invita a participar a Mónica Manríquez Burgueño, Jorge Portilla Manríquez  y Santiago Portilla Manríquez en el evento decembrino de su departamento .
    La idea era llevar un poco de alegría a los pequeños de hemodiálisis y pacientes internados del área de nefrología.
    A través de las redes sociales de Mónica ,Jorge y Santiago se lanza una convocatoria donde se invita a familiares y amigos a apadrinar a un niño o niña por medio de un obsequio y así nace el concepto Padrino Tesoteam, el cual tiene por objetivo concientizar a las sociedad civil sobre la importancia de la cultura de donación de órganos y conocer un poco mas acerca  la insuficiencia renal crónica.
</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title">2017</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="justify">
                <p>
                    Gracias a la gran aceptación de Padrino Tesoteam en este año se realizan dos eventos en el Hospital Infantil Federico Gómez en los meses de abril y diciembre duplicando el numero de padrinos. Desde entonces a la fecha hemos continuado llevando juguetes año con año a nuestros pequeños gracias al apoyo incondicional de todos nuestros benefactores.
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title">2018</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="justify">
                <p>
                    En el mes de marzo se nos invita a participar en La Conmemoración del día mundial del riñón en el Hospital Infantil Federico Gómez, en la mesa redonda “ La transición de paciente pediátrico a adulto” .
                    En este mismo año en coordinación con otras asociaciones colaboramos en el acondicionamiento del aula de nefrología“ Tu escuela en el hospital” donde se imparten clases desde preescolar hasta secundaria para que los pacientes de hemodiálisis puedan seguir estudiando.

                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="myModal4">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title">2019</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="justify">
                <p>
                    A principios de este año se entregan papelería, ventiladores y material didáctico para el aula de enseñanza  ayudando con esto a mejorar las condiciones de la misma.

                    En julio Tesoteam se constituye como Asociación Civil logrando así un gran paso hacia logro de nuestros objetivos.

                    En el mes de octubre se inaugura “ La Cabaña de Manolo “ lugar donde los pacientes de nefrología del Hospital Infantil Federico Gómez pueden tomar sus terapias psicológicas tan importantes para el proceso de aceptación y manejo de su enfermedad.
                    Nuevamente Tesoteam A.C. une esfuerzo con otras asociaciones para trabajar por el bien común de los niños.

                    Diciembre cerramos este año con la autorización del SAT para recibir donativos deducibles en México y del extranjero.


                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="myModal5">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title">2020</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="justify">
                <p>
                    En el mes de febrero se adecuo un espacio en el área de nefrología del HIM especial para que los pacientes junto con sus familiares puedan contar con lugar dentro del hospital donde se lleve acabo la capacitación y manejo de la diálisis peritoneal.
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- slider_area_end -->
<!-- reson_area_start  -->
<div class="reson_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>HISTORIA</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>2106 Inicio.</h4>
                        <p>
                            La historia de Tesoteam Asociación Civil, tiene su origen en diciembre de 2016 , cuando el Dr. José Carlos Romo Vázquez medico adscrito del Hospital Español y Jefe de Nefrología del Hospital ...
                        </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Leer más
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>2017 </h4>
                        <p>
                            Gracias a la gran aceptación de Padrino Tesoteam en este año se realizan dos eventos en el Hospital Infantil Federico Gómez en los meses de abril y diciembre duplicando el numero de padrinos.
                        </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            Leer más
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>2018</h4>
                        <p>
                            En el mes de marzo se nos invita a participar en La Conmemoración del día mundial del riñón en el Hospital Infantil Federico Gómez, en la mesa redonda “ La transición de paciente pediátrico a adulto” .
                        </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                            Leer más
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>2019</h4>
                        <p>
                            A principios de este año se entregan papelería, ventiladores y material didáctico para el aula de enseñanza  ayudando con...
                        </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
                            Leer más
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>2020 </h4>
                        <p>
                            En el mes de febrero se adecuo un espacio en el área de nefrología del HIM especial para que los pacientes junto con sus familiares puedan contar con lugar dentro del hospital donde se...
                        </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
                            Leer más
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- reson_area_end  -->
<!-- latest_activites_area_start  -->
<div class="latest_activites_area">
    <div class=" video_bg_1 video_activite  d-flex align-items-center justify-content-center">
        <a class="popup-video" href="https://www.youtube.com/watch?v=1Zb6-rWWn2s">
            <i class="flaticon-ui"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="activites_info">
                    <div class="section_title">
                        <h3>
                            <span>Nuestras últimas Noticias  </span><br>
                            Actividades
                        </h3>
                    </div>
                    <p class="para_1">El trasplante de riñón o trasplante renal es el trasplante de un riñón en un paciente con enfermedad renal avanzada. Dependiendo de la fuente del órgano receptor, el trasplante de riñón es típicamente clasificado como de donante fallecido, o como trasplante de donante vivo.</p>
                    <p class="para_2">Un trasplante de donante vivo es un procedimiento quirúrgico para retirar un órgano o una parte de él de una persona viva y colocarlo en otra persona cuyo órgano ya no funciona correctamente.</p>
                    <a href="#" data-scroll-nav='1' class="boxed-btn4">Donar ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest_activites_area_end  -->
<!-- popular_causes_area_start  -->
<div class="popular_causes_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Causas que apoyamos</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="causes_active owl-carousel">
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="img/causes/4.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Ejemplo </span>
                                <span>Ejemplo </span>
                            </div>
                            <h4>Ejemplo</h4>
                            <p>
                                Ejemplo
                            </p>
                            <a class="read_more" href="cause_details.html">Leer Más</a>
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="img/causes/5.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Ejemplo </span>
                                <span>Ejemplo </span>
                            </div>
                            <h4>Ejemplo</h4>
                            <p>
                                Ejemplo
                            </p>
                            <a class="read_more" href="cause_details.html">Leer Más</a>
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="img/causes/6.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Ejemplo</span>
                                <span>Ejemplo</span>
                            </div>
                            <h4>Ejemplo</h4>
                            <p>
                                Ejemplo
                            </p>
                            <a class="read_more" href="cause_details.html">Leer Más</a>
                        </div>
                    </div>
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="img/causes/1.png" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Ejemplo </span>
                                <span>Ejemplo </span>
                            </div>
                            <h4>Ejemplo</h4>
                            <p>
                                Ejemplo
                            </p>
                            <a class="read_more" href="cause_details.html">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_causes_area_end  -->
<!-- counter_area_start  -->
<div class="counter_area">
    <div class="container">
        <div class="counter_bg overlay">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">12</h3>
                            <p>Transplantes de riñón</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-heart-beat"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">13</h3>
                            <p>Ayudas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-in-love"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">14</h3>
                            <p>Corazones ayudados</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-hug"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">15</h3>
                            <p>Eventos realizados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter_area_end  -->
<!-- our_volunteer_area_start  -->
<div class="our_volunteer_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Nuestros Voluntarios</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="img/volenteer/1.png" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Ejemplo Nombre</h4>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="img/volenteer/2.png" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Ejemplo dos</h4>
                            <p>Tesorero</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="img/volenteer/3.png" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Ejemplo tres</h4>
                            <p>Voluntario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_volunteer_area_end  -->
<!-- news__area_start  -->
<div class="news__area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Noticias y Actualizaciones</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="news_active owl-carousel">
                    <div class="single__blog d-flex align-items-center">
                        <div class="thum">
                            <img src="img/news/1.png" alt="">
                        </div>
                        <div class="newsinfo">
                            <span>Julio 2019</span>
                            <a href="single-blog.html">
                                <h3>
                                    Ejemplo
                                </h3>
                            </a>
                            <p>
                                Ejemplo.
                            </p>
                            <a class="read_more" href="single-blog.html">Leer Más</a>
                        </div>
                    </div>
                    <div class="single__blog d-flex align-items-center">
                        <div class="thum">
                            <img src="img/news/2.png" alt="">
                        </div>
                        <div class="newsinfo">
                            <span>Julio 18, 2019</span>
                            <a href="single-blog.html">
                                <h3>
                                    Ejemplo
                                </h3>
                            </a>
                            <p>
                                Texto de ejemplo
                            </p>
                            <a class="read_more" href="single-blog.html">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news__area_end  -->
<div data-scroll-index='1' class="make_donation_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Hacer Una Donación</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="#" class="donation_form">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="single_amount">
                                <div class="input_field">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">$</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="40,200" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="single_amount">
                                <div class="fixed_donat d-flex align-items-center justify-content-between">
                                    <div class="select_prise">
                                        <h4>Seleccionar Monto:</h4>
                                    </div>
                                    <div class="single_doonate">
                                        <input type="radio" id="blns_1" name="radio-group" checked>
                                        <label for="blns_1">10</label>
                                    </div>
                                    <div class="single_doonate">
                                        <input type="radio" id="blns_2" name="radio-group" checked>
                                        <label for="blns_2">30</label>
                                    </div>
                                    <div class="single_doonate">
                                        <input type="radio" id="Other" name="radio-group" checked>
                                        <label for="Other">Otro</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="donate_now_btn text-center">
                    <a href="#" class="boxed-btn4">Donar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/.Carousel Wrapper-->

<div class="row">
</div>