<!DOCTYPE html>
<html>
@*<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - TesoTeam</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/gijgo.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/slicknav.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <script src="~/Scripts/modernizr-3.5.0.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/ajax-form.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/scrollIt.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/nice-select.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/gijgo.min.js"></script>
    <script src="~/Scripts/contact.js"></script>
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/mail-script.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
 </head>*@

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page - TesoTeam</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/magnific-popup.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/font-awesome.min.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/themify-icons.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/nice-select.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/flaticon.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/gijgo.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/animate.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/slicknav.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/style.css">
    <link rel="stylesheet" href="http://flashkr90-001-site1.itempurl.com/Content/bootstrap.min.css">

    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/modernizr-3.5.0.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery-1.12.4.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/popper.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/bootstrap.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/owl.carousel.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/isotope.pkgd.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/ajax-form.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/waypoints.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.counterup.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/scrollIt.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.scrollUp.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/wow.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/nice-select.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.slicknav.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/plugins.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/gijgo.min.js"></script>
    <!--contact js-->
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/contact.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.form.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/jquery.validate.min.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/mail-script.js"></script>

    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/main.js"></script>
    <script src="http://flashkr90-001-site1.itempurl.com/Scripts/owl.carousel.min.js"></script>
</head>

<body>
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-md-12 col-lg-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 55 12 12 12 12</a></li>
                                    <li><a href="#"> <i class="fa fa-envelope"></i>ejemplo@Tesoteam.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4">
                            <div class="social_media_links d-none d-lg-block">
                                <a href="https://www.facebook.com/Tesoteam/?epa=SEARCH_BOX">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href=@Url.Action("Index", "Home")>Inicio</a></li>
                                        <li><a href=@Url.Action("About", "Home")>Nosotros</a></li>
                                        <li><a href=@Url.Action("Tesitmonio", "Home")>Testimonios</a></li>

                                        <li>
                                            <a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">elementos</a></li>
                                                <li><a href="Cause.html">Causa</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=@Url.Action("Contact", "Home")>Contacto</a></li>
                                    </ul>
                                </nav>
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a data-scroll-nav='1' href="#">Hacer una donación</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <div>
        @RenderBody()
        <!-- footer_start  -->
        <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-4 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <img src="img/footer_logo.png" alt="">
                                    </a>
                                </div>
                                <p class="address_text">
                                    Ayudanos a colaborar
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/Tesoteam/">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Servicios
                                </h3>
                                <ul class="links">
                                    <li><a href="#">Donación</a></li>
                                    <li><a href="#">Ejemplo</a></li>
                                    <li><a href="#">Fudación</a></li>
                                    <li><a href="#">Voluntarios</a></li>
                                    <li><a href="#">Ejemplo</a></li>
                                    <li><a href="#">Empleos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Contactos
                                </h3>
                                <div class="contacts">
                                    <p>
                                        +2(305) 587-3407 <br>
                                        info@tesotema.com <br>
                                        Ejemplo de dirección
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Top Noticias
                                </h3>
                                <ul class="news_links">
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/news/news_1.png" alt="">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <a href="#">
                                                <h4>
                                                    Escuelas de Africa
                                                </h4>
                                            </a>
                                            <span>Junio 12, 2019</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/news/news_2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <a href="#">
                                                <h4>
                                                    Escuelas de Africa Ejemplo
                                                </h4>
                                            </a>
                                            <span>Junio 12, 2019</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="row">
                        <div class="bordered_1px "></div>
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                            <p>
                                @*Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer_end  -->

    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
